streamlit # for web app

# Utilities
numpy
pandas
scikit-learn #SVM -- face recognition
#Image recognition -- face detection 
dlib-bin
# face shape detection -- vector embeddings
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# OpenCV (choose one)
opencv-python-headless

supabase
bcrypt 

segno # for QR code generation
pillow # for image preprocessing

librosa # audio files preprocessing
resemblyzer # make embeddings of processed files


